# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache
/.idea
/.classpath
/.project
/RUNNING_PID
/.settings
activator
activator.bat
activator-launch-1.2.10.jar